/******Globales*******/
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: "Galindo", cursive;
  margin: 0 auto;
  background-image: url(../img/fondo.jpg);
  background-position: bottom center;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 23px;
}

h1,
h2,
h3,
h4 {
  text-align: center;
}

h5 {
  font-size: 20px;
  border-bottom: 2px solid black;
  display: inline-block;
  font-family: "Lobster", cursive;
}

/*****************************************************/
.contMesa {
  margin-top: 10px;
  text-align: center;
}

.contMesa p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.contMesa .mesas {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.contenedorTitulo {
  margin-top: 10px;
}

#muestraPedido {
  background-color: rgba(255, 255, 255, 0.9);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  border-radius: none;
  width: 100%;
}

#muestraPedido .contenedor-padre {
  padding: 5px 0;
  margin: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#muestraPedido .contenedor-padre .foto-carrito {
  width: 40px;
}

#muestraPedido .contenedor-padre .opacada {
  width: 40px;
  opacity: 0.0;
}

#muestraPedido .contenedor-padre #cantProductos {
  padding: 0px 9px;
  background-color: red;
  border-radius: 50%;
  color: white;
  position: relative;
  right: 15px;
  font-family: "Arima Madurai", cursive;
  font-weight: bold;
}

#muestraPedido .muestra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column-wrap;
          flex-flow: column-wrap;
  font-family: "Arima Madurai", cursive;
  gap: 10px;
}

#muestraPedido .muestra .listaCompras {
  background-color: #f0f0f0;
  width: 90%;
  text-align: center;
  border-radius: 20px;
  padding: 7px;
  margin-left: 10px;
}

#muestraPedido .muestra .listaCompras #listaDeJS {
  text-align: left;
  margin-left: 5px;
}

#muestraPedido .muestra .resumen {
  background-color: #f0f0f0;
  width: 90%;
  text-align: center;
  border-radius: 20px;
  padding: 7px;
  margin-right: 10px;
}

#muestraPedido .muestra .resumen p {
  display: inline-block;
  font-size: 15px;
}

#muestraPedido .muestra .resumen p span {
  font-size: 20px;
}

.seleccion {
  background-color: #ff5b1f;
  color: #fff;
  border-radius: 10px;
  font-family: "Arima Madurai", cursive;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  width: 92%;
  margin: 0 auto;
  margin-top: 10px;
  padding: 5px 10px;
}

.contenedorComidas {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  max-width: 92%;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  margin-top: 7px;
}

.contenedorComidas .platoEingredientes .nombrePlato {
  font-family: "Arima Madurai", cursive;
  font-size: 20px;
  font-weight: bold;
}

.contenedorComidas .platoEingredientes .nombrePlato .iconos-comida {
  width: 30px;
}

.contenedorComidas .platoEingredientes .contenidoIngredientes {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 15px;
}

.contenedorComidas .platoEingredientes li.contenidoIngredientes {
  margin-top: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
}

.contenedorComidas .precios {
  font-family: "Arima Madurai", cursive;
  font-size: 20px;
  font-weight: bold;
}

.contenedorComidas:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transition: ease-in-out 0.05s;
  transition: ease-in-out 0.05s;
}

.botones {
  padding: 10px;
  text-align: center;
}

button {
  padding: 4px;
  font-family: "Lobster", cursive;
  border: none;
  background-color: #ff5b1f;
  border-radius: 4px;
}

#promociones {
  text-shadow: 5px 2px 4px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: 5px 2px 4px rgba(0, 0, 0, 0.53);
          box-shadow: 5px 2px 4px rgba(0, 0, 0, 0.53);
  margin-bottom: 10px;
}

.contenedorPromo {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  width: 98%;
  margin: 0 auto;
  margin-bottom: 20px;
  border: 6px double #a6af01;
  border-radius: 15px;
}

.contenedorPromo .nombrePromo {
  margin: 9px;
  font-family: "Galindo", cursive;
  font-weight: bold;
  font-size: 22px;
}

.contenedorPromo .contenidoPromo {
  text-align: center;
  font-family: "Arima Madurai", cursive;
  font-weight: bold;
  font-size: 18px;
  max-width: 95%;
}

.contenedorPromo .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contenedorPromo .precioPromo {
  margin: 8px;
  padding: 5px 10px;
  border: 4px inset orangered;
  border-radius: 100px;
  font-family: "Lobster", cursive;
  font-weight: bold;
  font-size: 20px;
}
/*# sourceMappingURL=estilos.css.map */